@import 'bootstrap';

.navbar {
    .navbar-right {
        .badge {
            position: absolute;
            top: 5px;
            right: 2px;
        }
    }
}

.sidebar {
    position: absolute;
    top: 0;
    height: 100%;
    padding-top: 80px;
    border-right: 1px solid #ddd;

    @media only screen and (min-width: @screen-phone) {
        max-width: 270px;
    }

    .list-group-title {
        text-size: 100%;
        text-transform: uppercase;
        color: #999;
        margin-bottom: 0.5em;
    }
}

.content {

}
