@import 'bootstrap.less';

@padding-top-base: 50px;

body {
    background: @gray-lighter;
}

.navbar {
    .navbar-right {
        .badge {
            position: absolute;
            top: 5px;
            right: 2px;
        }
    }
}

.sidebar {
    position: absolute;
    top: 0;
    height: 100%;
    border-right: 1px solid #ddd;
    padding: 0px;
    padding-top: calc(@padding-top-base + 30px);
    background: @asbestos;

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            padding-bottom: 5px;

            a {
                display: block;
                line-height: @line-height-base;
                text-decoration: none;
                padding: @padding-base-vertical @padding-base-horizontal;
                color: @gray-lighter;
                background: darken(@asbestos, 10%);

                &:hover {

                }

                .badge {
                    float: right;
                    background: @gray-lighter;
                    color: @asbestos;
                }
            }
        }

        .collapse {
            a {
                background: darken(@asbestos, 3%);

                &:hover {

                }
            }
        }
    }

    .list-group-title {
        text-size: 100%;
        text-transform: uppercase;
        color: #999;
        margin-bottom: 0.5em;
    }
}

.content {
    padding-top: @padding-top-base;
}
